<ion-list color="dark" #lista1>

    <ion-item-sliding *ngFor="let lista of listas | filtroCompletado: terminado">
        <ion-item detail color="dark" (click)="listaSeleccionada(lista)">
            <ion-label>{{ lista.titulo }}</ion-label>
            <ion-note slot="end" color="tertiary"> {{ lista.items.length }} </ion-note>
        </ion-item>



        <ion-item-options side="start">
            <ion-item-option color='success' (click)="editarLista( lista )">
                <!-- <ion-icon name="trash-outline"></ion-icon> -->
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
            <ion-item-option color='danger' (click)="borrarLista( lista )">
                <!-- <ion-icon name="trash-outline"></ion-icon> -->
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-item-option>

        </ion-item-options>


    </ion-item-sliding>

</ion-list>