<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="tertiary" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{ lista.titulo }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nuevo item</ion-label>
            <ion-input type="text" [(ngModel)]='nombreItem' (keyup.enter)='agregarItem()'></ion-input>
        </ion-item>
    </ion-list>

    <ion-list color="dark">
        <ion-list-header color="dark" *ngIf="lista.items.length>0">
            <ion-item color="dark">Tareas por hacer</ion-item>
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of lista.items; let i = index" class="animated fateInDown">
            <ion-item color="dark">
                <ion-checkbox slot="start" color="tertiary" [(ngModel)]='item.completado' (ionChange)="cambioCheck( item )">
                </ion-checkbox>
                <ion-label>{{ item.descripcion }}</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="borraItem( i )" color="danger">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>