<ion-header [translucent]="true" no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Tareas YA terminadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <app-listas [terminado]="true"></app-listas>

</ion-content>